.account_item {
    background-color: color-mix(in srgb, var(--color-darkblue), var(--color-white) 98%);
    display: flex;
    padding: 1.5rem;
    gap: 1.5rem;
    cursor: pointer;
}
.account_item:hover {
    background-color: var(--color-yellow);
}
.account_icon {
    background-color: var(--color-blue);
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
}
.account_content{
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 1;
}
.account_item h3 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: var(--color-darkblue);
}
.account_category {
    font-size: 1.4rem;
    display: block;
    color: var(--color-darkblue);
}
.account_balance {
    font-size: 2rem;
    margin-top: auto;
    align-self: flex-end;
    font-weight: 700;
    color: var(--color-blue);
}
@media screen and (min-width: 1024px) {
    .account_icon {
        width: 7rem;
        height: 7rem;
    }
    .account_content{
        min-height: 7rem;
    }
    .account_item h3 {
        font-size: 2rem;
    }
    .account_balance {
        font-size: 2.4rem;
    }
}