.transactions {
    width: 30%;
}
.detail {
    width: 30%;
}
.overview {
    width: 40%;
}
.overview_content {
    background-color: var(--color-yellow);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.overview_content p {
    color: var(--color-white);
}