.login_container {
  height: fit-content;
}
.login_container a {
  text-decoration: underline;
}
.login_container a:hover {
  color: var(--color-yellow);
}
@media screen and (min-width: 1024px) {
    .login_container {
        width: 60%;
        margin-top: var(--gap-desktop);
    }
}