.create {
    width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  width: 50%;
}

.accounts {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.amount-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}

.amount {
  width: 80%;
  margin-right: 2rem;
}