.modal-container {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: color-mix(in srgb, var(--color-darkblue), transparent 50%);
    display: none;
}
.modal-container.active {
    display: flex;
}
.modal-box {
    background-color: var(--color-white);
    min-width: 30%;
    padding: var(--body-padding);
}

.modal-header span {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 2rem;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}