/*
CONVENTIONS DE NOMMAGE DES CLASS

Class contenant un trait d'union => ex: ma-class
    -> Class de style global et helper

Class contenant un underscore => ex: ma_class
    -> Class d'appel de style spécifique
*/

:root {
    /* Gaps - Margin */
    --gap-mobile: 2rem;
    --gap-tablet: 3.5rem;
    --gap-desktop: 4rem;
    --mb-grand-mobile: 2.5rem;
    --mb-small-mobile: 1.5rem;
    --body-padding: 2rem;
    --body-padding-mobile: 1rem;

    /* Fonts */
    --heading-font: 'MuseoModerno', sans-serif;
    --primary-font: 'Poppins', sans-serif;
    --text-size-mobile: 1.4rem;
    --text-size-tablet: 1.6rem;
    --text-size-desktop: 1.6rem;

    /* Colors */
    --color-white: rgb(255, 255, 255);
    --color-beige: rgb(255, 255, 230);
    --color-yellow: rgb(255, 193, 69);
    --color-blue: rgb(59, 97, 255);
    --color-darkblue: rgb(0, 10, 81);
    --color-green: rgb(98, 232, 91);
    --color-warn: rgb(255, 45, 45);

    --width-header-closed: 8rem;
    --width-header-openned: 26rem;
}


/* === RESET == */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: var(--color-darkblue);
}

html {
    font-size: 62.5%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.2s;
}

/* Headings */
h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

h1 { font-size: 2.8rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.8rem; }

@media screen and (min-width: 768px) {
    h1 { font-size: 3rem; }
    h2 { font-size: 2.4rem; }
    h3 { font-size: 2.0rem; }
    h4 { font-size: 1.8rem; }
}

@media screen and (min-width: 1024px) {
    h1 { font-size: 3.2rem; }
    h2 { font-size: 2.6rem; }
    h3 { font-size: 2.2rem; }
    h4 { font-size: 1.8rem; }
}


p, a, input, label, li {
    font-size: var(--text-size-mobile);
}
@media screen and (min-width: 768px) {
    p, a, input, label, li {
        font-size: var(--text-size-tablet);
    }
}
@media screen and (min-width: 1024px) {
    p, a, input, label, li {
        font-size: var(--text-size-desktop);
    }
}

/* Désaffiche au responsive */
@media screen and (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
}
@media screen and ((min-width: 768px) and (max-width: 1023px)) {
    .hidden-tablet {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .hidden-desktop {
        display: none;
    }
}

/* === MARGIN === */
.mb-small {
    margin-bottom: var(--mb-small-mobile);
}
.mb-grand {
    margin-bottom: var(--mb-grand-mobile);
}

/* === NAVBAR et CONTENT == */
#head_nav {
    background-color: var(--color-darkblue);
    width: calc(100vw - (var(--body-padding-mobile) * 2));
    height: calc(100vh - (var(--body-padding-mobile) * 2));
    transition: 1s;
    max-height: 0;
    max-width: 0;
    position: fixed;
    bottom: var(--body-padding-mobile);
    left: var(--body-padding-mobile);
    overflow:hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    z-index: 998;
}
#head_nav * {
    opacity: 0;
    transition: opacity 1s;
}
#head_nav.open {
    max-height: 100%;
    max-width: 100%;
    padding: 3rem 0;
}
#head_nav.open * {
    opacity: 1;
}
#nav_button {
    width: 4rem;
    height: 4rem;
    background-color: var(--color-yellow);
    border-radius: 0 0 2rem 0;
    position: fixed;
    bottom: var(--body-padding-mobile);
    left: var(--body-padding-mobile);
    transition: 0.2s;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav_button img {
    width: 2.5rem;
    height: 2.5rem;
    transform: translateX(-0.1rem) translateY(-0.1rem);
}
#nav_button.open {
    background-color: var(--color-blue);
    bottom: calc(var(--body-padding-mobile) + 1rem);
    left: calc(var(--body-padding-mobile) + 1rem);
}
#content_container {
    padding: var(--gap-mobile);
}
@media screen and (min-width: 768px) {
    #head_nav {
        width: 30rem;
    }
}
@media screen and (min-width: 1024px) {
    #global_container {
        display: flex;
        height: 100vh;
        padding: 2rem;
    }
    
    #head_nav {
        background-color: var(--color-darkblue);
        width: var(--width-header-closed);
        max-height: unset;
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: width 0.2s;
        gap: var(--gap-desktop);
        padding: 3rem 0;
        overflow: hidden;
        position: fixed;
        top: var(--body-padding);
        left: unset;
        bottom: unset;
        height: calc(100vh - (var(--body-padding) * 2));
        z-index: unset;
    }
    #head_nav:hover {
        width: var(--width-header-openned);
    }
    #head_nav * {
        opacity: 1;
    }
    #nav_button {
        display: none;
    }
    #content_container {
        position: relative;
        width: calc(100% - var(--width-header-closed));
        left: var(--width-header-closed);
        transition: 0.2s;
        padding: var(--gap-desktop) 0 var(--gap-desktop) var(--gap-desktop);
        overflow-y: auto;
    }

    #global_container:has(#head_nav:hover) #content_container {
        width: calc(100% - var(--width-header-openned));
        left: var(--width-header-openned);
    }
}

.page_content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-desktop);
}
@media screen and (min-width: 1024px) {
    .page_content {
        flex-direction: row;
    }
}
.head_and_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}