.log {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darkblue);
    padding: var(--gap-mobile);
}
@media screen and (min-width: 768px) {
    .log {
        padding: var(--gap-tablet);
    }
}
.log_container {
    background-color: var(--color-white);
    width: 100%;
    padding: var(--gap-mobile);
    display: flex;
    flex-direction: column;
    max-width: 100rem;
}
@media screen and (min-width: 768px) {
    .log_container {
        padding: var(--gap-tablet);
    }
}
@media screen and (min-width: 1024px) {
    .log_container {
        flex-direction: row;
        height: 60rem;
    }
}

.log_img {
    width: 100%;
    height: 12rem;
    overflow: hidden;
}
.log_img img {
    object-fit: cover;
    object-position: 0% 25%;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 1024px) {
    .log_img {
        width: 40%;
        height: 100%;
        padding-right: var(--gap-desktop);
    }
    .log_img img {
        object-position: 70% 0%;
        width: 100%;
        height: 100%;
    }
}